<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfMetaService" />
                <binding name="BasicHttpBinding_IWcfPositionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/WcfMetaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfMetaService"
                contract="FirstWcf.IWcfMetaService" name="BasicHttpBinding_IWcfMetaService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/WcfPositionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfPositionService"
                contract="SecondWcf.IWcfPositionService" name="BasicHttpBinding_IWcfPositionService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
