<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfService1"/>
                <binding name="BasicHttpBinding_IWcfService2"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/WcfService1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfService1" contract="FirstWcf.IWcfService1" name="BasicHttpBinding_IWcfService1"/>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/WcfService2/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfService2" contract="SecondWcf.IWcfService2" name="BasicHttpBinding_IWcfService2"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
